:root {
    --footer-bottom-text-font-size: 12px;
}

footer {
    display: flex;
    flex-direction: column;
    gap: 80px;
    width: 100dvw;
    min-width: 100dvw;
    margin-left: calc(-1 * var(--page-horizontal-padding));
}

.footer-bottom-wrapper {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #B7B7B7;
    width: 100dvw;
    min-width: 100dvw;
    padding: var(--page-vertical-padding) 0;
    font-size: var(--footer-bottom-text-font-size);
}

.footer-bottom-inner-wrapper {
    display: flex;
    position: absolute;
    padding: var(--page-vertical-padding) var(--page-horizontal-padding);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-width: 100%;
    z-index: 0;
    gap: var(--footer-bottom-text-font-size);
}

.footer-bottom-wrapper a {
    text-align: center;
    text-decoration: none;
    color: var(--text-color);
    font-style: italic;
}

.footer-bottom-wrapper-mail-responsive {
    display: none;
}

.footer-bottom-inner-wrapper + a {
    z-index: 1;
}

@media only screen and (min-width: 500px) {
    .footer-bottom-wrapper-mail {
        display: none;
    }
    .footer-bottom-wrapper-mail-responsive {
        display: block;
    }
}
