:root {
    --header-vertical-padding: 12px;
    --header-horizontal-padding: 18px;
    --header-height: 62px;
    --header-logo-gap: 8px;
    --header-logo-height: 38px;
    --header-menu-wrapper-gap: 5px;
    --header-menu-each-line-width: 34px;
    --header-menu-each-line-height: 3px;
    --header-logo-font-size: 20px;
    --header-responsive-menu-gap: 30px;
    --header-responsive-menu-font-size: 26px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-width: 100%;
    height: var(--header-height);
    min-height: var(--header-height);
    padding: var(--header-vertical-padding) var(--header-horizontal-padding);
    z-index: 3;
    background-color: var(--background-color);
}

header a {
    text-decoration: none;
}

.header-placeholder {
    width: 100%;
    min-width: 100%;
    height: var(--header-height);
    min-height: var(--header-height);
    visibility: none;
}

.header-logo-wrapper {
    display: flex;
}
.header-logo-wrapper svg {
    margin-right: var(--header-logo-gap);
    height: var(--header-logo-height);
    min-height: var(--header-logo-height);
}
.header-logo-wrapper:hover .header-logo-each-letter {
    max-width: 40px;
}
.header-logo-wrapper:hover .header-logo-each-first-letter {
    margin-left: calc(var(--header-logo-font-size) / 2);
}

.header-logo-each-first-letter {
    max-width: 40px !important;
}

.header-logo-each-letter {
    display: flex;
    overflow: hidden;
    max-width: 0;
    flex-direction: column;
    justify-content: center;
    font-size: var(--header-logo-font-size);
    font-weight: 600;
    position: relative;
    top: calc(var(--header-logo-font-size) / 5);
    transition: max-width .4s ease, margin-left .4s ease;
}

.header-menu-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--header-menu-wrapper-gap);
}
.header-menu-wrapper-toggled {
    gap: 0;
    --header-menu-each-line-width: 30px;
    --header-menu-each-line-height: 2px;
}
.header-menu-wrapper-toggled .header-menu-each-line:nth-child(1) {
    transform: rotate(-45deg);
    margin-bottom: calc(-1 * var(--header-menu-each-line-height));
}
.header-menu-wrapper-toggled .header-menu-each-line:nth-child(2) {
    transform: rotate(45deg);
}

.header-menu-each-line {
    background-color: black;
    height: var(--header-menu-each-line-height);
    min-height: var(--header-menu-each-line-height);
    width: var(--header-menu-each-line-width);
    min-width: var(--header-menu-each-line-width);
    border-radius: var(--header-menu-each-line-height);
    transition: all .2s;
}

.header-responsive-menu-wrapper {
    position: fixed;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: var(--header-vertical-padding) var(--header-horizontal-padding);
    top: var(--header-height);
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--secondary-color);
    gap: var(--header-responsive-menu-gap)
}

.header-responsive-menu-wrapper a {
    font-size: var(--header-responsive-menu-font-size);
    text-decoration: none;
    font-weight: bold;
    color: var(--text-color);
}

.header-responsive-each-side-wrapper {
    display: none;
    align-items: center;
    gap: calc(var(--header-height) / 2);
}

.header-responsive-each-side-wrapper > a {
    color: #666;
    font-style: italic;
}

.header-responsive-each-side-wrapper > .general-button {
    color: var(--background-color);
    font-style: italic;
}

@media only screen and (min-width: 800px) {
    .header-responsive-each-side-wrapper {
        display: flex;
    }
    .header-menu-wrapper {
        display: none;
    }
    .header-logo-wrapper {
        position: fixed;
        display: flex;
        top: var(--header-vertical-padding);
        left: 0;
        right: 0;
        justify-self: center;
    }
}
