:root {
    --schedule-border-radius: 4px;
    --schedule-drag-title-font-size: 16px;
    --schedule-head-background-color: #FFB3F9;
    --schedule-head-font-color: #780068;
    --schedule-head-font-size: 20px;
    --schedule-head-each-date-width: 320px;
    --schedule-head-each-date-height: 50px;
    --schedule-body-each-item-height: 120px;
    --schedule-body-each-item-background-color: #F0FAFF;
    --schedule-body-each-item-border-color: #A3A3A3;
    --schedule-body-each-item-text-font-size: 15px;
    --schedule-body-each-item-active-border-color: #E7B2FF;
    --schedule-body-each-item-location-background-color: #FFF6BD;
    --schedule-body-each-item-location-text-color: #E13DCB;
    --schedule-body-each-item-location-font-size: 10px;
    --schedule-body-each-item-arrow-box-size: 20px;
    --schedule-body-each-item-arrow-size: 14px;

    --schedule-item-name-font-size: 14px;
    --schedule-item-organizer-font-size: 10px;
    --schedule-item-type-font-size: 10px;
    --schedule-item-bottom-wrapper-font-size: 10px;
}

.schedule-wrapper {
    display: flex;
    flex-direction: column;
}

.schedule-drag-title {
    color: var(--pink-color);
    font-style: italic;
    font-size: var(--schedule-drag-title-font-size);
    text-align: center;
    margin-top: calc(var(--schedule-drag-title-font-size) * 4);
    margin-bottom: calc(var(--schedule-drag-title-font-size) * 4);
}

.schedule-tables-wrapper {
    box-sizing: border-box;
    display: flex;
    width: 100dvw;
    min-width: 100dvw;
    margin-left: calc(-1 * var(--page-horizontal-padding));
    overflow-x: auto;
    scrollbar-width: none;
    padding: 0 var(--page-horizontal-padding);
    margin-bottom: 100px;
}
.schedule-tables-wrapper::-webkit-scrollbar {
    display: none;
}

.schedule-table-wrapper {
    border-spacing: calc(var(--schedule-head-each-date-width) / 20);
}

.schedule-table-wrapper thead tr th {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: var(--schedule-head-font-color);
    width: var(--schedule-head-each-date-width);
    min-width: var(--schedule-head-each-date-width);
    height: var(--schedule-head-each-date-height);
    min-height: var(--schedule-head-each-date-height);
    font-size: var(--schedule-head-font-size);
    background-color: var(--schedule-head-background-color);
    border-radius: var(--schedule-border-radius);
    text-align: center;
}

.schedule-table-wrapper tbody tr td {
    min-width: var(--schedule-head-each-date-width);
    height: var(--schedule-body-each-item-height);
    min-height: var(--schedule-body-each-item-height);
    background-color: var(--schedule-body-each-item-background-color);
    border: 1px solid var(--schedule-body-each-item-border-color);
    border-radius: var(--schedule-border-radius);
    opacity: 0;
}

.schedule-table-wrapper tbody tr td:has(a) {
    opacity: 1 !important;
    border: none;
    background-size: cover;
    background-position: center;
    background-clip: padding-box;
    text-align: start;
    vertical-align: top;
    position: relative;
    box-shadow: inset 0 0 0 1px var(--schedule-body-each-item-active-border-color);
}
table, table * {
    cursor: url('/img/cursor/drag@1x.svg') 4 8, grab;
    cursor: -webkit-image-set(url('/img/cursor/drag@2x.svg') 2x, url('/img/cursor/drag@1x.svg') 1x) 4 8, grab;
}
@-moz-document url-prefix() {
    table, table * {
        cursor: url('/img/cursor/drag@1x.svg') 4 8, grab;
    }
}

.schedule-table-wrapper tbody tr td:has(a[href]), .schedule-table-wrapper tbody tr td:has(a[href]) * {
    cursor: url('/img/cursor/explore@1x.svg') 4 8, pointer;
    cursor: -webkit-image-set(url('/img/cursor/explore@2x.svg') 2x, url('/img/cursor/explore@1x.svg') 1x) 4 8, pointer;
}
@-moz-document url-prefix() {
    .schedule-table-wrapper tbody tr td:has(a[href]), .schedule-table-wrapper tbody tr td:has(a[href]) * {
        cursor: url('/img/cursor/explore@1x.svg') 4 8, pointer;
    }
}

.schedule-table-wrapper tbody tr td:has(a[href])::before {
    position: absolute;
    top: calc(var(--schedule-body-each-item-text-font-size) / 3 * 2 + 1px);
    right: calc(var(--schedule-body-each-item-text-font-size) / 3 * 2 + 1px);
    content: '';
    background-color: var(--schedule-body-each-item-location-background-color);
    width: var(--schedule-body-each-item-arrow-box-size);
    height: var(--schedule-body-each-item-arrow-box-size);
    border-radius: var(--schedule-border-radius);
    transition: opacity 0.2s ease-in-out;
    opacity: 0;
}
.schedule-table-wrapper tbody tr td:has(a[href])::after {
    position: absolute;
    top: calc(var(--schedule-body-each-item-text-font-size) / 3 * 2 + (var(--schedule-body-each-item-arrow-box-size) - var(--schedule-body-each-item-arrow-size)) / 2 + 1px);
    right: calc(var(--schedule-body-each-item-text-font-size) / 3 * 2 + (var(--schedule-body-each-item-arrow-box-size) - var(--schedule-body-each-item-arrow-size)) / 2 + 1px);
    content: '';
    background-image: url('/img/schedule/arrow.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: var(--schedule-body-each-item-arrow-size);
    height: var(--schedule-body-each-item-arrow-size);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}
.schedule-table-wrapper tbody tr td:has(a[href]):hover::before {
    opacity: 1;
}
.schedule-table-wrapper tbody tr td:has(a[href]):hover::after {
    opacity: 1;
}

.schedule-table-wrapper tbody tr td:has(a[href]):hover .schedule-item-organizer {
    margin-right: calc(var(--schedule-body-each-item-arrow-box-size) + (var(--schedule-body-each-item-text-font-size) / 3 * 2));
}

.schedule-table-wrapper tbody tr td a {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: calc(var(--schedule-body-each-item-text-font-size) / 3 * 2);
    text-decoration: none;
}

.schedule-item-top-wrapper {
    display: flex;
    justify-content: space-between;
}

.schedule-item-name {
    font-size: var(--schedule-item-name-font-size);
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    color: var(--background-color);
}

.schedule-item-organizer {
    transition: margin-right 0.2s ease-in-out;
    font-size: var(--schedule-item-organizer-font-size);
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    color: var(--background-color);
}

.schedule-item-type {
    font-size: var(--schedule-item-type-font-size);
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    color: var(--background-color);
    border: 0.5px solid var(--background-color);
    border-radius: 6px;
    width: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    padding: 2px 7px;
    margin-top: auto;
    margin-bottom: var(--schedule-body-each-item-text-font-size);
}

.schedule-item-bottom-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    gap: calc(var(--schedule-body-each-item-text-font-size) / 2);
}

.schedule-item-bottom-wrapper > * {
    font-size: var(--schedule-item-bottom-wrapper-font-size);
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    color: var(--background-color);
}

.schedule-item-people-count {
    display: flex;
    align-items: center;
    gap: calc(var(--schedule-item-bottom-wrapper-font-size) / 5);
}
.schedule-item-people-count::before {
    content: '';
    display: block;
    background-image: url('/img/schedule/people.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: calc(var(--schedule-item-bottom-wrapper-font-size));
    min-width: calc(var(--schedule-item-bottom-wrapper-font-size));
    height: calc(var(--schedule-item-bottom-wrapper-font-size));
    min-height: calc(var(--schedule-item-bottom-wrapper-font-size));
}

.schedule-item-level {

}

.schedule-item-time {
    display: flex;
    align-items: center;
    gap: calc(var(--schedule-item-bottom-wrapper-font-size) / 5);
    margin-left: auto;
    margin-right: auto;
}

.schedule-item-time::before {
    content: '';
    background-image: url('/img/schedule/time.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: var(--schedule-body-each-item-location-font-size);
    min-width: var(--schedule-body-each-item-location-font-size);
    height: var(--schedule-body-each-item-location-font-size);
    min-height: var(--schedule-body-each-item-location-font-size);
}

.schedule-item-location {
    display: flex;
    align-items: center;
    gap: calc(var(--schedule-item-bottom-wrapper-font-size) / 5);
}

.schedule-item-location::before {
    content: '';
    background-image: url('/img/schedule/location.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: var(--schedule-body-each-item-location-font-size);
    min-width: var(--schedule-body-each-item-location-font-size);
    height: var(--schedule-body-each-item-location-font-size);
    min-height: var(--schedule-body-each-item-location-font-size);
}

@media only screen and (min-width: 600px) {
    #view-the-agenda-button {
        --general-button-font-size: 18px;
        margin-left: auto;
    } 
}
