:root {
    --subscription-button-height: 40px;
    --subscription-button-width: 130px;
    --subscription-button-font-size: 16px;
    --subscription-inner-wrapper-width: 300px;
    --subscription-inner-wrapper-padding: 24px;
    --subscription-inner-wrapper-text-font-size: 18px;
    --subscription-inner-wrapper-input-font-size: 14px;
    --subscription-button-margin-bottom: 140px;
}

.subscription-wrapper {
    position: relative;
    z-index: 3;
}

.subscription-button {
    position: fixed;
    width: var(--subscription-button-width);
    min-width: var(--subscription-button-width);
    height: var(--subscription-button-height);
    min-height: var(--subscription-button-height);
    background-color: var(--secondary-color);
    left: 100dvw;
    bottom: var(--subscription-button-margin-bottom);
    border: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-style: italic;
    color: #FF4D00;
    font-size: var(--subscription-button-font-size);
    transform: rotate(-90deg);
    transform-origin: bottom left;
}

.subscription-inner-wrapper {
    position: fixed;
    left: 100dvw;
    bottom: calc(var(--subscription-button-margin-bottom) - (190px - var(--subscription-button-width)) / 2);
    display: flex;
    flex-direction: column;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    gap: calc(var(--subscription-inner-wrapper-padding) / 2);
    padding: var(--subscription-inner-wrapper-padding);
    width: var(--subscription-inner-wrapper-width);
    min-width: var(--subscription-inner-wrapper-width);
    background-color: #FAFFF3;
    box-shadow: rgba(0, 0, 0, 0.1) -4px 0px 12px;
    transition: left 0.5s;
}
.subscription-inner-wrapper-shifted {
    left: calc(100dvw - var(--subscription-inner-wrapper-width));
}

.subscription-inner-wrapper p {
    font-style: italic;
    font-size: var(--subscription-inner-wrapper-text-font-size);
}

.subscription-inner-wrapper input {
    border: 1px solid #DDD;
    border-radius: 4px;
    padding: calc(var(--subscription-inner-wrapper-input-font-size) / 2);
    color: var(--text-color);
}

.subscription-inner-wrapper input::-webkit-input-placeholder {
    color: #DDD;
    font-style: italic;
}

.subscription-inner-wrapper input::-moz-placeholder {
    color: #DDD;
    font-style: italic;
}

.subscription-inner-wrapper input:-ms-input-placeholder {
    color: #DDD;
    font-style: italic;
}

.subscription-inner-wrapper input::-ms-input-placeholder {
    color: #DDD;
    font-style: italic;
}

.subscription-inner-wrapper input::placeholder {
    color: #DDD;
    font-style: italic;
}

.subscription-inner-wrapper button {
    font-size: var(--subscription-inner-wrapper-input-font-size);
    font-style: italic;
    color: #FF4D00;
    padding: calc(var(--subscription-inner-wrapper-input-font-size) / 2) var(--subscription-inner-wrapper-input-font-size);
    background-color: var(--secondary-color);
    border: none;
    border-radius: 4px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}
