:root {
    --why-title-font-size: 14px;
    --why-each-reason-title-image-height: 40px;
    --why-each-reason-title-font-size: 26px;
    --why-each-reason-responsive-max-width: 360px;
    --why-each-reason-text-image-ratio: 1.6;
}

.why-wrapper {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.why-title {
    font-family: 'Apfel Grotezk', sans-serif;
    font-size: var(--why-title-font-size);
    font-weight: 400;
    text-align: center;
    margin-bottom: 60px;
    margin-top: 50px;
}

.why-each-reason {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: calc(var(--why-each-reason-title-font-size) / 3);
    width: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    min-width: fit-content;
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    height: calc(var(--why-each-reason-title-font-size) * var(--why-each-reason-text-image-ratio));
    min-height: calc(var(--why-each-reason-title-font-size) * var(--why-each-reason-text-image-ratio));
}

.why-each-reason-title {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    color: var(--why-color);
    font-size: var(--why-each-reason-title-font-size);
    font-weight: 700;
    display: flex;
    text-align: center;
    align-items: center;
    gap: calc(var(--why-each-reason-title-font-size) / 4);
}

.why-each-reason-title-image {
    height: calc(var(--why-each-reason-title-font-size) * var(--why-each-reason-text-image-ratio));
    min-height: calc(var(--why-each-reason-title-font-size) * var(--why-each-reason-text-image-ratio));
    max-width: 0;
    transition: max-width .3s ease-in-out, margin-right .3s ease-in-out;
    object-fit: cover;
    padding-right: 0;
    border-radius: 5px;
}

.why-each-reason:hover .why-each-reason-title-image {
    max-width: calc(var(--why-each-reason-title-font-size) * var(--why-each-reason-text-image-ratio) * 3.6);
    margin-right: calc(var(--why-each-reason-title-font-size) / 3);
}

.why-each-reason-separator {
    background-color: var(--why-color);
    width: 100dvw;
    min-width: 100dvw;
    height: 1px;
    min-height: 1px;
    margin-top: var(--why-each-reason-title-font-size);
    margin-bottom: var(--why-each-reason-title-font-size);
}

.why-each-reason-responsive {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: calc(var(--why-each-reason-title-font-size) / 2);
    justify-content: center;
    max-width: var(--why-each-reason-responsive-max-width);
}
.why-each-reason-responsive + .why-each-reason {
    display: none;
}
.why-each-reason-responsive-title-image {
    height: var(--why-each-reason-title-font-size);
    min-height: var(--why-each-reason-title-font-size);
}

.why-each-reason-rotate-icon .why-each-reason-responsive-title-image {
    -webkit-animation: spin 10s linear infinite;
            animation: spin 10s linear infinite;
}
.why-each-reason-rotate-icon .why-each-reason-title-image {
    margin: 0 !important;
}

@-webkit-keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

@media only screen and (min-width: 600px) {
    :root {
        --why-title-font-size: 16px;
        --why-each-reason-title-font-size: 38px;
        --why-each-reason-responsive-max-width: 570px;
    }    
}

@media only screen and (min-width: 800px) {
    :root {
        --why-title-font-size: 18px;
        --why-each-reason-title-font-size: 48px;
        --why-each-reason-responsive-max-width: 720px;
    }    
}

@media only screen and (min-width: 1000px) {
    :root {
        --why-title-font-size: 22px;
        --why-each-reason-responsive-max-width: unset;
        --why-each-reason-title-font-size: 33px;
    }

    .why-each-reason-responsive {
        display: none;
    }

    .why-each-reason-responsive + .why-each-reason {
        display: flex;
    }
}

@media only screen and (min-width: 1100px) {
    :root {
        --why-each-reason-title-font-size: 37px;
    }
}

@media only screen and (min-width: 1200px) {
    :root {
        --why-each-reason-title-font-size: 40px;
    }
}

@media only screen and (min-width: 1300px) {
    :root {
        --why-each-reason-title-font-size: 44px;
    }
}

@media only screen and (min-width: 1400px) {
    :root {
        --why-each-reason-title-font-size: 48px;
    }
}
